.footer {
  background-color: $bgc-footer;
  padding: 60px 0;

  &__container {
    @media screen and (min-width: $desktop) {
      display: flex;  
       align-items: baseline;
    }
  
  }
}

.footer__grup { 
  @media screen and (min-width: $tablet){
   display: flex;
    justify-content: space-around;
    align-items: baseline;
    
  }


 } 
