.footer {
  background-color: $bgc-footer;
  padding: 60px 0;

  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
    }
  }
}
