.follow {
   text-align: center;
    margin-top: 60px;
  @media screen and (min-width: $tablet){
    margin-top: 0;
  }
  @media screen and (min-width: $desktop){
    margin-left: 70px;
    text-align: start;
  }
 
  
}

.follow__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;

  margin-bottom: 20px;
}

.social__link--footer {
  background-color: $bgc-footer-icon;
  fill: white;
}


