.menu {
  z-index: 8;
 background-color: $dark-color ;
  @media screen and (max-width: 767px) {
      display: none;
    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      padding: 48px 40px 48px 40px;
    }
  }
  @media screen and (min-width:$tablet) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.menu__button{
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: $white-color;
  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
