.logo {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;

  &__dark {
    color: rgb(0, 0, 0);
  }

  &__light {
  color: $white-color;
}
@media screen and ( min-width:$desktop){
  font-size: 26px;
  line-height: 1.19;
}
}
