.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  &__item:not(:last-child) {
    margin-right: 8px;
  }
   
 @media screen and (max-width:767px){
   &__item:nth-child(-n+3){
     margin-bottom: 15px;
   }
 }

  @media screen and (min-width:$tablet){
    justify-content: center;
    margin-bottom: 30px;
  
  }
  @media screen and (min-width:$desktop ){
    margin-bottom: 50px;
  }
  
}

.portfolio-menu__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  padding: 6px 22px;

}
