.follow {
  margin-left: 70px;
}
.follow__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;

  margin-bottom: 20px;
}

.social__link--footer {
  background-color: $bgc-footer-icon;
  fill: white;

 
}


