address {
  margin-top: 20px;
 
}
.footer__address{
 text-align: center;
}
.address__link {
  font-style: normal;
  text-decoration: none;
  color: $address;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link--ofice {
  color: $white-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
