.menu {
   
  background-color: $white-color;
  @media screen and (max-width: 767px) {
    position: relative;
    top:0;
    left: 0;
    
    padding: 48px 10px 48px 40px;
    display: none;
    &.is-open {
      display: block;
      position: absolute;
      width: 100%;
    }
  }
  @media screen and(min-width:$tablet){
      display: flex;
      align-items: center;
      flex-grow: 1;
      margin-left: 88px;
  }
   @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.menu__button {
  position: absolute;
  z-index: 9;
  bottom: -5px;
  right: 10px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  .button__close {
    display: none;
  }

   @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__button.is-open .button__close {
  display: block;
 
 
  
  
}
.menu__button.is-open .button__open {
  display: none;
}