.header {
  @media screen and(max-width:767px) {
    position: relative;
    padding: 16px 0;
  }

  @media screen and (min-width: $tablet) {
    border-bottom: 1px solid #ececec;

    &__container {
      display: flex;
      align-items: center;
    }
  }
}




