// color
$dark-color: #070A1B;
$secondary-dark-color: rgb(47, 48, 58);
$tertiary-dark:rgba(175, 177, 184, 1);
$white-color: #ffffff;
$secondary-color: #53A1CB;
$tertiary-color: #C1A1D2;
$accent-color: #7c1693;
$box-shadow: 0 7px 15px 0 $tertiary-color;

$primary-text-color:#f1f1f1;
$title-text-color: $secondary-color;

$address: $tertiary-color;
$footer-icon: $white-color;
$bgc-footer-icon: $secondary-color;
$client-icon: $secondary-color;

// media
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

















