// color
$primаry-text-color: rgba(117, 117, 117, 1);
$title-text-color: rgba(33, 33, 33, 1);
$accent-color: rgba(33, 150, 243, 1);
$btn-hero: rgba(33, 150, 243, 1);
$btn-footer: rgba(33, 150, 243, 1);
$btn-menu:rgba(245, 244, 250, 1);

$btn-hover: rgba(24, 140, 232, 1);

$white-color: rgba(255, 255, 255, 1);
$social-icon: rgba(175, 177, 184, 1);

$client-icon: rgba(175, 177, 184, 1);

$bgc-features: rgba(245, 244, 250, 1);

$bgc-team-section:rgba(245, 244, 250, 1);

$bgc-footer:rgb(47, 48, 58);
$address:rgba(255, 255, 255, 0.6);
$footer-icon: rgba(255, 255, 255, 1);
$bgc-footer-icon: rgba(255, 255, 255, 0.1);
$bgc-footer-icon-hover: rgba(33, 150, 243, 1);

